.collapsible{
  border:1px solid #ccc;
  padding:10px;
  margin-bottom: 5px;

}

.collapsible-Panel{
   background-color: #f2f2f2;
   display: flex;
   cursor: pointer;
   padding:10px;
   justify-content: space-between;
   align-items: center;
}

.collapsible-content{
  padding: 10px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.collapsible-content.collapsed{
  height: 0;
}

